html,
body{
    height: 100%;
    background-color: #004466;
    color: #e6f7ff;
}

*{
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    height: 100%;
}

.header-title {
    text-align: center;
}

.project-links {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-links div:nth-child(n) {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

}

.project-links div a {
    border: solid #e6f7ff 1px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #e6f7ff;
    width: 200px;
    padding: 10px;
    margin: 2px;
}

.project-links div a:hover {
    color: #0099e6;
}

.project-links div a:active {
    color: #e6f7ff;
}
