@import url("./header.css"); 
@import url("./clound.css"); 
@import url("./bush-montain.css"); 
@import url("./animation.css");

html, 
body {
    width:  100%;
    height: 100%;
    margin: 0;
    background-color: #5c94fc;
}

header {
    position: relative;
    animation: headerMove 2s;
}

.hidden-scroll {
    overflow: hidden;
}

main .content {
    position: relative;
    width: 80%;
    color: #3a3358;
    font-family: 'Press Start 2P', cursive;
    animation: contentMove 2s;
}

main .content p {
    font-size: 16px;
    line-height: 1.8;
}

main .content h1 {
    font-size: 24px;
}

footer{
    position: relative;
    width: 100%;
    background: url(../images/floor.png) repeat-x;
    background-size: 32px auto;
    height: 32px;
    animation: footerMove 2s;
}

.bush-and-montain-container {
    bottom: 119px;
}

@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 25px;
    }

    header nav a {
        font-size: 15px;
    }

    main .content h1 {
        font-size: 15px;
    }

    main .content p {
        font-size: 12px;
        line-height: 1.8;
    }

    .clounds-container {
        bottom: 100px;
    }
    
    .clound-L {
        display: none;
    }

    .clound-face {
        display: none;
    }

    .bush-L {
        display: none;
    }

    .bush-and-montain-combine {
        display: none;
    }

    .bush-and-montain-container {
        bottom: 85px;
    }
}


