html, body {
    height: 99%;
    width: 99%;
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
}

header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    border-radius: 250px;
}

header nav a {
    padding: 5px;
    margin: 5px;
    color: #404040;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

header nav a:hover {
    color: #cccccc;
}

header nav a:active {
    color: #808080;
}

.home nav a.lk-hm:visited {
    color: #808080;
}

.about nav a.lk-ab:visited {
    color: #808080;
}

.contact nav a.lk-ct:visited {
    color: #808080;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    margin: 60px;
}

main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

main .content .form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content .form-contact div {
    position: relative;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
} 

main .content .form-contact input, textarea {
    width: 250px;
    padding: 10px;
    background-color:#f2e71b;
    border: 1px #3a3358 solid;
    border-radius: 15px;
}

main .content .form-contact label {
    width: 80px;
}

main .content .form-contact button.btn-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #f2e71b;
    margin-top: 25px;
    width: 100px;
    border: 2px #3a3358 solid;
    border-radius: 15px;
}

main .content .form-contact button.btn-flex:hover {
    background: none;
    border: 2px #3a3358 solid;
}

@media only screen and (max-width: 600px) {
    main .content .form-contact input, textarea {
        width: 150px;
    }
    main .content .form-contact div {
        width: 300px;
    }
}